/opt/data/private/zjx/ICL/inform/auto-cot
/opt/data/private/zjx/ICL/inform/new_data/error_data
/opt/data/private/zjx/ICL/inform/log
/opt/data/private/zjx/ICL/inform/new_data
/opt/data/private/zjx/ICL/inform/plot
/opt/data/private/zjx/ICL/inform/acc.py
/opt/data/private/zjx/inform/data/
/opt/data/private/zjx/ICL/inform/.vscode
/opt/data/private/zjx/ICL/inform/new_data
*.log
log/zjx/result/
new_data/
log
code/__pycache__
1.txt
.DS_Store
auto-cot/
